.main-content-wrapper {
    width: 100%;
}

.left-side {
    width: 868px;
    height: 1036px;
    background: url('./image/flower.png');
    background-size: cover;

    background-repeat: no-repeat;
}

.left-side-content {
    position: relative;
    top: 298px;
    left: 16px;
    width: 552px;
    text-align: center;
}

.left-side-content h3 {
    font-size: 36px;
}
h3 span{
    text-decoration: underline;
    text-decoration-color: #EC750B;
    text-decoration-thickness: 7px;
}
.left-side-content p {
    font-size: 20px;
    line-height: 27px;
    line-height: 100%;
    Vertical-align: top;
}

.right-side {
    position: absolute;
    top: 87px;
    right: 30px;
}

.form {
    width: 52vw;
    height: fit-content;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px #E5E5E5;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 40px;
}

.form h3 {
    font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 65px;
}

.form p {
    font-style: normal;
    font-weight: normal;
    font-size: 25px; 
    margin: 40px 0px;
}

.input-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-inputs-wrapper {
    display: flex;
    flex-direction: column;
}

.form-inputs-wrapper label {
    margin-left: 10px;
    z-index: 1;
    background: white;
    width: fit-content;
    padding: 0px 3px;
    font-size: 12px;
    color: #5E6366;
    font-family: lato;
}
 .inputs {
    width: 280px;
    padding: 20px 10px;
    margin-top: -8px;
    margin-bottom: 40px;
    color: #ADB7BE;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #ADB7BE;
    box-sizing: border-box;
    border-radius: 3px;
    outline: none;
    font-family: lato;
}
::placeholder {
    color: #ADB7BE;
    font-family: Lato;
}

select {
    appearance: none;
    --webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('./image/down.png');
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;

}

.textarea {
    width: 100%;
}

.textarea .inputs {
    width: 100%;
    height: 180px;
}

.submit {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

button {
    width: 328px;
    padding: 21px 100px;
    background: #060894;
    color: white;
    font-family: Montserrat Alternates;
    text-transform: uppercase;
    font-size: 17px;
    border: 0px;
    cursor: pointer;
}

.links {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    margin: 15px;
    padding-right: 40px;
}

.orange-icons {
    background: url('./image/orange-icon.png');
    width: 30px;
    height: 30px;
    display: flex;
    margin: 5px 15px;
    justify-content: center;
    align-items: center;
   }

@media screen and (max-width: 1280px){
    .inputs {
        width: 270px;
    }
}

   @media screen and (max-width: 1200px){
    .left-side-content {
        left: 10px;
        width: 480px;
    }
    
    .left-side-content h3 {
        font-size: 30px;
    }
    .left-side {
        width: 65vw;
        height: 1036px;
        background: url('./image/flower.png');
        background-size: cover;
    
        background-repeat: no-repeat;
    }
    .inputs {
        width: 250px;
    }
   }

   @media screen and (max-width: 1120px){
    .left-side-content {
        left: 10px;
        width: 400px;
    }
    .input-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
       .inputs {
           width: 100%;
       }
       .left-side {
        height: 1240px;
    }
   }

   @media screen and (max-width: 840px){
       .main-content-wrapper {
           display: flex;
           flex-direction: column;
       }
       .left-side {
        width: 100vw;
        height: 1360px;
    }
    .left-side-content {
        position: relative;
        top: 80px;
        width: 100%;
        text-align: center;
    }
    .right-side {
        position: absolute;
        top: 160px;
        width: 90vw;
    }
    .form {
        width: 100%;
    }
   }