
/* general design of the page */
body{
    background-color: #fff;
    padding: 0;
    margin: 0%;
    font-family: Open Sans;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.logo h2{
   color: rgba(236, 117, 11, 1);
}

.logo h2 a {
    text-decoration: none;
    color: inherit;
    font-size: 32px;
    font-weight: 400;
}

.logo p{
    color: rgba(83, 83, 83, 1);
}

article h2{
    color: rgba(6, 8, 148, 1);
}

article div{
  background-color: rgba(236, 117, 11, 1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;  
  width: 20%;
  margin-top: 2em;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

article div > a{
    text-decoration: none;
    color: #fff;
}

main{
    display: flex;
    flex-direction: column;
}

.first h3{
    font-weight: 900;
}

.second h1{
    color: rgba(6, 8, 148, 1);
    font-weight: 800;
    font-size: 35px;
}

.value{
    background-color: rgba(236, 117, 11, 1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    color: #fff;
    font-weight: 800;
    font-size: 25px;
  }

  .more{
      margin-top: 2em;
      width: 10%;
  }

  .more a{
      text-decoration: none;
      color: black;
  }

  .second p{
      margin-top: -1.5em;
  }

/* mobile design of the page */
@media screen and (max-width: 769px) {

    .hideOnMobile{
        display: none;
    }

    header{
        margin-bottom: 9em;
    }
   
nav{
    background-color: white;
    width: fit-content;
    height: fit-content;
    position: absolute;
    right: 0em;
    top: 3em;
    padding-top: 1em;
    text-align: left;   
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.12);
  -webkit-transition: right 300ms ease-out;
  -moz-transition: right 300ms ease-out;
  -ms-transition: right 300ms ease-out;
  -o-transition: right 300ms ease-out;
  transition: right 300ms ease-out;
}

nav ul{
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-top: 0.2em;
    margin-right: 2em;
}

nav ul li{
    list-style-type: none;
    margin-top: 2em;
    text-align: right;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    text-align: center;
    text-transform: capitalize;
}

    main{
        width: 80%;
        margin: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 5em;
    }

article{
    margin-top: 2em;
}

    article div{
        align-self: center;
        margin: auto;
        margin-top: 2em;
        width: fit-content;
        padding: 1em;
    }

    .two{
        margin-top: 8em;
        justify-content: space-around;
        align-items: center;
    }

    .first h3{
        font-size: 25px;
    }

    .more{
        width: 50%;
        align-self: center;
        margin: auto;
        margin-top: 2em;
    }

    .three{
        width: 100%;
    }

    .value{
        text-align: center;  
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 1em;
        padding-bottom: 1em;
        margin-top: 2em;
      }

      .images{
          background-color: black;
          margin-left: 2em;
          border-radius: 35px;
          margin: auto;
          width: 50%;
          height: 170px;
          align-self: flex-end;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
      }
      
      .images > img{
          position: relative;
          top: -4.3em;
          left: -1.5em;
          width: 115%;
            
      } 
    
}

@media screen and (min-width: 460px) and (max-width: 498px) {

    .images > img{
        position: relative;
        top: -2em;
        left: -1.5em;
        width: 115%;
    } 

}

@media screen and (max-width: 459px) {

    .image > img{
        position: relative;
        top: -.1em;
        left: -1.5em;
        width: 115%;
    } 

}

@media screen and (min-width: 499px) and (max-width: 533px) {

    .images > img{
        position: relative;
        top: -2.5em;
        left: -1.5em;
        width: 115%;
          
    } 

}

@media screen and (min-width: 534px) and (max-width: 559px) {

    .images > img{
        position: relative;
        top: -3em;
        left: -1.5em;
        width: 115%;
    } 

}

@media screen and (min-width: 560px) and (max-width: 615px) {

    .image > img{
        position: relative;
        top: .2em;
        left: -1.5em;
        width: 115%;
    } 

}

/* desktop design of the page */
@media screen and (min-width: 770px) {

    .hideOnDesktop{
        display: none;
    }
    
nav{
    width: 50%;
    display: flex;
}

nav ul{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

nav ul li{
    list-style-type: none;
    display: flex;
    margin: 0 1.5em;
    width: fit-content;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
}

main{
    margin-top: 4em;
    justify-content: center;
}

.one, .two{
    display: flex;
    width: 90%;
    margin: auto;
}

.two{
    margin-top: 8em;
    justify-content: space-around;
    align-items: center;
}

.three{
    width: 85%;
    margin: auto;
    margin-bottom: 5em;
    margin-top: 5em;
}

.value{
    text-align: left;  
    width: 50%;
    padding-top: 1em;
    padding-bottom: 3em;
    padding-left: 1em;
    padding-right: 5px;
  }

.image{
    background-color: black;
    margin-left: 2em;
    border-radius: 35px;
    height: 170px;
    width: 20%;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.image > img{
    position: relative;
    top: -4.3em;
    left: -1.5em;
    width: 115%;
    
}

article{
    margin-right: 2em;
    width: 50%;
}

.more{
    margin-left: 2em;
    width: 10%;
}

    
}

@media screen and (min-width: 1000px) and (max-width: 1030px) {

    .image > img{
        position: relative;
        top: -2em;
        left: -1.5em;
        width: 115%;
    } 

}


@media screen and (min-width: 1031px) and (max-width: 1079px) {

    .image > img{
        position: relative;
        top: -2em;
        left: -1.5em;
        width: 115%;
    } 

}


@media screen and (min-width: 1080px) and (max-width: 1125px) {

    .image > img{
        position: relative;
        top: -2.5em;
        left: -1.5em;
        width: 115%;
    } 

}


@media screen and (min-width: 922px) and (max-width: 954px) {

    .image > img{
        position: relative;
        top: -1em;
        left: -1.5em;
        width: 115%;
    } 

}


@media screen and (min-width: 955px) and (max-width: 999px) {

    .image > img{
        position: relative;
        top: -1.5em;
        left: -1.5em;
        width: 115%;
    } 

}

@media screen and (min-width: 770px) and (max-width: 921px) {

    .image > img{
        position: relative;
        top: -1em;
        left: -1.5em;
        width: 115%;
    } 

}
