*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: Open Sans;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.logo h2{
   color: rgba(236, 117, 11, 1);
}

.logo h2 a {
    text-decoration: none;
    color: inherit;
    font-size: 32px;
    font-weight: 400;
}

.logo p{
    color: rgba(83, 83, 83, 1);
}

@media screen and (max-width: 769px) {

    .hideOnMobile{
        display: none;
    }

    header{
        margin-bottom: 1em;
    }
   
nav{
    background-color: white;
    width: fit-content;
    height: fit-content;
    position: absolute;
    right: 0em;
    top: 3em;
    padding-top: 1em;
    text-align: left;   
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.12);
  -webkit-transition: right 300ms ease-out;
  -moz-transition: right 300ms ease-out;
  -ms-transition: right 300ms ease-out;
  -o-transition: right 300ms ease-out;
  transition: right 300ms ease-out;
}

nav ul{
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-top: 0.2em;
    margin-right: 2em;
}

nav ul li{
    list-style-type: none;
    margin-top: 2em;
    text-align: right;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    text-align: center;
    text-transform: capitalize;
}
}

/* desktop design of the page */
@media screen and (min-width: 770px) {

    .hideOnDesktop{
        display: none;
    }
    
nav{
    width: 50%;
    display: flex;
}

nav ul{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

nav ul li{
    list-style-type: none;
    display: flex;
    margin: 0 1.5em;
    width: fit-content;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
}
}










/**
header{
    position: absolute;
    width: 100%;
    height: 35px;
    padding-left: 72px;
    top: 42px;
    border-top-left-radius: 43px;
    border-top-right-radius: 43px;
    background-color: #fff;
}
.container{
    display: flex;
    justify-content: space-between;
    align-self: center;
}
#nav-brand .logo h3{
    width: 257px;
    height: 27px;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: #EC750B;
}
#nav-brand .logo h3 a {
    text-decoration: none;
    color: inherit;
}
#nav-brand{
    cursor: pointer;
}
#menu{
    list-style: none;
    display: flex;
    margin-top: 30px;
}
.menu-item{
    cursor: pointer;
}
.menu-item a{
    text-decoration: none;
    margin-right: 73px;
    font-size: 12px;
    width: 36px;
    height: 16px;
    font-style: normal;
    font-weight: bold;
    color: black;
}

**/

.message-head{
    text-align: left;
    height: 44px;
    margin-left: 72px;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    border-bottom-left-radius: 43px;
    border-bottom-right-radius: 43px;
}
.message-head .illustration p{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}
.message-head .illustration svg{
    width: 603px;
    height: 318px;
    margin-left: 118px;
}

.main{
    color: white;
    position: relative;
    top: 581px;
    width: 100%;
}

.video-section{
    background: #060894;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    text-align: center;
    padding-top: 105.8px;
    padding-bottom: 105.8px;
}

.video-section h3{
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
}
.video-section p{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin: 0px;
}

.video-section .videos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.video-section .videos .video{
    margin: 50px;
    margin-bottom: 20px;
}

.video-section .video a{
    color: white;
    text-decoration: none;
}


.footer{
    width: 100%;
    height: 334px;
    padding: 71px;
    background: #535353;
}

.footer h3{
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    color: #EC750B;
}

.footer p{
    font-weight: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}
